.container {
  display: block;
  flex: 1 1 0%;
  padding-top: 80px;
  padding-bottom: 30px;
}

.dropdown_wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px;
}
